# ─── MySQL ────────────────────────────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=password_root_vps_anda
MYSQL_DATABASE=wain_db
MYSQL_USER=wain_user
MYSQL_PASSWORD=password_database_anda

# ─── Backend ──────────────────────────────────────────────────────────────────
JWT_SECRET=rahasia_untuk_keamanan_login_anda_buat_sendiri
RECAPTCHA_SECRET=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
WA_LOG_LEVEL=info

# ─── Frontend ─────────────────────────────────────────────────────────────────
# URL API Backend (Domain khusus Backend Anda yang disetting di Coolify, jangan lupakan /api di belakangnya)
VITE_API_URL=https://api.setorwader.com/api
